<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleURLName</key>
				<string>com.nextbigtoy.weeks.widget</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>weeksWidget</string>
				</array>
			</dict>
		</array>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>Weeks needs access to your photo library to select and display images in widgets.</string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
